# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
.venv
venv
*.egg-info
.pytest_cache
.mypy_cache
.coverage
htmlcov

# Node.js
node_modules
npm-debug.log*

# Build outputs
dist
build

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
*.env

# Terraform
infrastructure/terraform/.terraform
*.tfstate
*.tfstate.*

# Documentation
*.md
!README.md

# Tests
tests
**/tests
**/*.test.*
**/*.spec.*
