services:
  cognito-local:
    image: jagregory/cognito-local:latest
    container_name: cognito-local
    ports:
      - "9229:9229"
    volumes:
      - cognito-data:/app/.cognito
    environment:
      - DEBUG=1

  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath /data"
    volumes:
      - dynamodb-data:/data

volumes:
  cognito-data:
  dynamodb-data:
